body {
  font-family: 'Source Sans Pro', sans-serif;;
}

/*Navbar*/
.navbar-light .navbar-brand {
  font-family: 'Sansita', sans-serif;
  color: #026799;
}

/*Navigation*/
.navbar {
  background: white;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.7);
}

ul.navbar-nav {
  align-items: center;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #062b6d;
}

.navbar-light .navbar-nav .nav-link.nav-button {
  color: white;
  min-width: 9.375rem;
  padding: 0.5rem 1.5rem;
  text-align: center;
  border: 1px solid #414851;
  color: white;
  background-color: #026799;
  border-radius: 0.25rem;
}

.navbar-light .navbar-nav .nav-link.nav-button:hover {
  color: #083E9E;
  background: white;
  border: 1px solid #083E9E;
}

#close {
  cursor: pointer;
}

/*Section 1*/
.section-1 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.intro-content {
  margin-top: 2rem
}

.text-header {
  text-align: center;
}

.text-header h3 {
  color: #02354E;
}

.text-header p {
  color: rgba(53, 133, 173, 0.7);
}

.loan-image img {
  width: 100%;
}

.loan-form-container {
  margin-top: 2rem;
}

.loan-form-container .card {
  box-shadow: 2px 2px 20px rgba(88, 88, 88, 0.25);
}

.loan-btn {
  background-color: #026799;
  color: white;
}

.loan-btn:hover, .loan-btn:focus {
  color: white;
  background-color: #024262;
}

#results, #loading {
  display: none;
}

#loading {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .navbar-light .navbar-nav .nav-link {
    margin-left: 1rem;
  }
}