body{
    font-family: 'Source Sans Pro', sans-serif;
}
.brand{
    font-family: 'Sansita', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #026799;
}
.bg-blue{
    background: #026799;
}
.text-blue{
    color: #026799;
}
.close div{
    width:25px;
    height:2px;
    margin:5px;
    background:#083E9E;
    cursor:pointer;
    transition:all 300ms ease;
  }
  .line-1{
    transform:rotate(-45deg) translate(-5px,6px);
  }
   .line-2{
    opacity:0;
  }
   .line-3{
    transform:rotate(45deg) translate(-5px,-6px);
  }
  nav{
      margin-bottom: 70px;
  }
  .desire-loan{
    font-size: 38px;
    line-height: 40px;
    color: #02354E;
  }
  .form{
    background: #FFFFFF;
    box-shadow: 2px 2px 20px rgba(88, 88, 88, 0.25);

  }
  
  @media only screen and (min-width: 320px){
    .form{
        height: 400px;
    }
  }
@media only screen and (min-width: 769px) {
  .form{
      height: 400px;
      width: 50%;
  }
  }
  @media only screen and (min-width: 1025px) {
    .form{
        height: 500px;
        width: 50%;
    }
    }
  button{
    background: #026799;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-sizing: border-box;
    border-radius: 4px;
  }

  button:hover{
      background: transparent;
      color: #026799;
      border: #026799 1px solid;
  }

  .bg{
      background: url(./assets/img/loan.png);   
      height: 200px;
      background-size: contain;
      position: absolute;
      z-index: -1;
    
  }
  @media only screen and (min-width: 320px){
    .bg{
        margin-top: -130px;
        width: 100%;
    }
  }
  @media only screen and (min-width: 769px){
    .bg{
        margin-top: 200px;
        width: 75%;
    }
  }

  .loan-output{
      position: absolute;
      background: #FFFFFF;
      box-shadow: 2px 2px 20px rgba(88, 88, 88, 0.25);
      border-radius: 5px;
  }
  
  .loan-output p{
    font-size: 35px;
    line-height: 50px;
    color: #02354E;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .loan-output input{
    width: 70%;
    outline: none;
    padding: 6px;
    border: #026799 1px solid;
  }
  .loan-output h1{
    width: 25%;
  
  }
  .loan-output button{
    color: white;
    padding: 10px 20px;
  }

  .loan-output button:hover{
    color: #026799;
  }
  .loan-output h3{
    font-size: 18px;
line-height: 23px;
text-align: center;
color: #3585AD;
margin-top: 40px;
  }

  .thanks p{
font-size: 64px;
line-height: 80px;
text-align: center;
color: #02354E;
z-index: 3;
  }
  .thanks{
    position: absolute;
    background: #FFFFFF;
      box-shadow: 2px 2px 20px rgba(88, 88, 88, 0.25);
      border-radius: 5px;
      padding: 40px;
  }

  .alert{
    padding: 15px;
    border: red 1px solid;
    text-align: center;
    margin-bottom: 20px;
  }